body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #section1 {
    background-image: url('desktop/assignment/media/makeup.jpg'); /* Adjust the path to your image */
  }
  
  #section2 {
    background-image: url('desktop/assignment/media/sushi.jpg');
  }
  
  #section3 {
    background-image: url('desktop/assignment/media/music.jpg');
  }
  
  #section4 {
    background-image: url('desktop/assignment/media/sneakers.jpg');
  }
  
  .content {
    text-align: center;
    color: rgb(255, 127, 229);
  }
  